<!doctype html>
{% extends 'pages/base.html' %}
{% load static %}
      <!-- main content area -->
      {% block body_block %}
      <div class="mainContentBox">
        <h2> Title......</h2>
        <hr>
        <div class="contentBox">
          Content Content Content Content Content Content Content Content Content Content Content Content Content <br> Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
          Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
          Content Content Content Content <br> Content Content Content Content Content Content Content Content Content Content Content Content Content <br> Content Content Content Content Content Content Content Content Content Content Content Content
          Content <br> Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
          Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
          Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content

        </div>
        <h2> Title... </h2>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <div class="contentBox">
              Item One <br> Item Two <br> Item Three <br> Item Four <br> Item Five <br> Item Six <br> Item Seven
            </div>
          </div>
          <div class="col-sm-6">
            <div class="contentBox" id="isImage">
              <img src="http://matchmaker.nsri.co.uk/images/researchers/University%20of%20Glasgow.jpg">
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      <!-- main content area -->
