<!doctype html>
{% load static %}

<div class="mainContentBox">
  <div class="contentBox">
    <h2> Bio......</h2>
    <hr> Content Content Content Content Content Content Content Content Content Content Content Content Content <br> Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
    Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
    Content Content Content Content Content Content <br> Content Content Content Content Content Content Content Content Content Content Content Content Content <br> Content Content Content Content Content Content Content Content Content Content
    Content Content Content <br>

  </div>

</div>
