<!doctype html>
{% load static %}

<div class="sideNavbar">

  <div class="list-group list-group-root well">

    <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> School One</a>
    <div class="list-group">

      <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Subject 1</a>
      <div class="list-group">
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 1</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 2</a>
      </div>

      <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Subject 2</a>
      <div class="list-group">
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 1</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 2</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 3</a>
      </div>

      <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Subject 3</a>
      <div class="list-group">
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 1</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 2</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 3</a>
      </div>

    </div>

    <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> School Two</a>
    <div class="list-group">

      <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Subject 1</a>
      <div class="list-group">
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 1</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 2</a>
      </div>

      <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Subject 2</a>
      <div class="list-group">
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 1</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 2</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 3</a>
      </div>

      <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Subject 3</a>
      <div class="list-group">
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 1</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 2</a>
        <a href="#" class="list-group-item"><small><span class="glyphicon glyphicon-play"></span></small> Module 3</a>
      </div>

    </div>
  </div>
</div>
