<!doctype html>
{% load static %}

<div class="contentBox">
  <h2> Subjects......</h2>
  <hr> Major : Major Title<br> Enrolment Year : 2018 <br> <br> Enrolled In <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course</th>
        <th scope="col">Level</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Course 1</td>
        <td>Level 1</td>
        <td>Subject 1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Course 2</td>
        <td>Level 2</td>
        <td>Subject 2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Course 3</td>
        <td>Level 3</td>
        <td>Subject 3</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Course 4</td>
        <td>Level 4</td>
        <td>Subject 4</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Course 5</td>
        <td>Level 5</td>
        <td>Subject 5</td>
      </tr>
    </tbody>
  </table>
</div>
